.payment {
  background: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(198, 202, 202);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 1.3rem;
  border-bottom: 1px solid lightgray;
}
.payment__title__delivery {
  margin-right: 1rem;
}
.payment__title,
.payment__title__delivery {
  flex: 0.2;
  display: flex;
  justify-content: center;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > h3 {
  padding-bottom: 20px;
}
.payment__details > form > div > button {
  background-color: #4bf06c;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  font-weight: bolder;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.payment__items {
  padding: 0rem 1rem;
}
.payment__section__2,
.payment__section__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment__section__2 {
  background: lightgray;
}
.payment__section__3 {
  padding: 2rem 1rem;
  align-items: center;
}
.payment__section__3 > .payment__title {
  margin-bottom: 1rem;
  border-bottom: double;
}
.payment__details {
  width: 25rem;
  padding: 1rem;
  border: 2px solid black;
}
p {
  margin: 0px;
}
