.store_heading {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  letter-spacing: 1rem;
  text-shadow: 5px 4px 6px #1f4037;
  color: white;
}
.wave-image {
  z-index: -1;
  margin-bottom: -22%;
}
.store_inner_heading {
  position: relative;
}
.store_icon {
  position: absolute;
  left: 43%;
  top: 45%;
  font-size: large;
}
.card:hover {
  box-shadow: 1px 1px 10px black;
}
.store_div {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
.outer-div {
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.inner-div {
  margin: 0.5rem;
  display: flex;
  /* width: 80%; */
  /* height: 10rem; */
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .inner-div {
    width: 40%;
  }
}
